{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="ui main text container">
    <h1 class="ui header">!!!!!!!!!!!!!!!!!!!!!</h1>
    <form class="ui large form" method="post">
        <div class="ui stacked segment">
        {% csrf_token %}
            <div class="ui form">
                <div class="field">
                    <label>Grid size</label><br>
                    <input class="form-control" id="grid" type="text" name="grid"><br><br>
                    <input type="submit" value="Get solution" class="positive ui button" name="average_time">
                </div>
            </div>

            <br>
            <span class="ui big red text">{{ error }}</span>
            <span class="ui big green text">{{ answer }}</span>
        </div>
    </form>
    </div>
    {{ my_map|safe }}
{% endblock %}

