{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="bg-image" style="
background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/77.jpg');
height: 50vh; ">
    </div>

    <div class="jumbotron text-center">
        <div class="container">
            <h3 class="cover-heading">Decision Support Tool for Positioning Rescue Vessels</h3>
            <br>
            <p style="font-size: 1.4em">Using this application, you can determine the optimal positions of Rescue Vessels
                for a set of offshore installations, as well as conduct a comparative
                analysis of the current positings with the proposed solution</p>
            {#            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>#}
        </div>
    </div>

{#    <section class="jumbotron text-center">#}
{#        <div class="container">#}
{#            <h1 class="jumbotron-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Decision Support Tool for Positioning Rescue Vessels</font></font></h1>#}
{#            <p style="vertical-align: inherit;font-size: 1.4em; vertical-align: inherit;">#}
{#                Using this application, you can determine the optimal positions ofRescue Vessels#}
{#                for a set of offshore platforms, as well as conduct a comparative#}
{#                analysis of the current positings with the proposed solution#}
{#            </p>#}
{##}
{#        </div>#}
{#    </section>#}

{% endblock %}
