{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <div class="ui main text container">
        <h1 class="ui header">Multi-objective Covering Problem</h1>
        <form class="ui large form" method="post">
            <div class="ui stacked segment">
                {% csrf_token %}
                <div class="two fields">
                    <div class="field">
                        <label>Plan period</label>
                        <input class="form-control" id="pp" placeholder="Plan period (year)" type="text" name="pp"><br>
                    </div>
                </div>
                <br>
                <h3>Age</h3>
                <div class="two fields">
                    <div class="field">

                        {% for i in numner_vessels %}

                            <label>Age for ERRV </label>
                            <input class="form-control" id="age" placeholder="Age (year)" type="text" name="age">
                            <br>
                        {% endfor %}
                    </div>
                </div>
            <br>
                <h3>Weight</h3>
                <div class="two fields">
                    <div class="field">
                        <label>Average weight</label>
                        <input class="form-control" id="av" placeholder="Average weight (0.00-1.00)" type="text" name="wa"><br>
                    </div>
                    <div class="field">
                        <label>Worst weight</label>
                        <input class="form-control" id="wr" placeholder="Worst weight (0.00-1.00)" type="text" name="ww"><br>
                    </div>
                    <div class="field">
                        <label>Risk weight</label>
                        <input class="form-control" id="rs" placeholder="Risk weight (0.00-1.00)" type="text" name="wr"><br>
                    </div>
                </div>
                <input type="submit" value="Get solution" class="positive ui button" name="average_time">

                <span class="ui big red text">{{ error }}</span>
                <span class="ui big green text">{{ answer }}</span>

            </div>
        </form>
    </div>

{% endblock %}

