{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="ui main text container">
        <h1 class="ui header">Risk based Covering Problem</h1>


        <form class="ui large form" method="post">
            <div class="ui stacked segment">
                {% csrf_token %}
                <div class="two fields">
                    <div class="field">
                        <label>Plan period</label>
                        <input class="form-control" id="pp" placeholder="Plan period" type="text" name="pp"><br>
                    </div>
                </div>
                <br>
                <h3>Age</h3>
                <div class="two fields">
                    <div class="field">

                        {% for i in numner_vessels %}

                            <br><label>Age for ERRV </label><br>
                            <input class="form-control" id="age" type="text" name="age">
                        {% endfor %}
                    </div>
                </div>
                <input type="submit" value="Get solution" class="positive ui button" name="average_time">

                <span class="ui big red text">{{ error }}</span>
                <span class="ui big green text">{{ answer }}</span>
            </div>
        </form>
    </div>
    {#    <form class="ui form" method = "GET">#}
    {#        <div class="ui stacked segment">#}
    {#            {% csrf_token %}#}
    {#            <div class="ui form">#}
    {#                <div class="field">#}
    {#                    <label for="date_w" name="date_w">Name </label>#}
    {#                    {{ form }}#}
    {#                </div>#}
    {#                <div class="field">#}
    {#                    <label  name="period_name">Period </label>#}
    {#                    <input class="form-control" id="grid" placeholder="Enter period, days" type="text" name="period"><br><br>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <input type="submit" value="Get solution" class="ui blue  button" name="average_time">#}
    {##}
    {#    </form>#}

    {#    <form class="ui form" method="post">#}
    {#        <div class="ui stacked segment">#}
    {#            {% csrf_token %}#}
    {#            <div class="ui form">#}
    {#                <div class="field">#}
    {#                    <label for="date_w" name="date_w">Name </label>#}
    {##}
    {#                    {{ form.date }}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <input type="submit" value="Get solution" class="ui blue  button" name="average_time">#}
    {##}
    {#    </form>#}
{% endblock %}

