{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <div class="ui main text container">
    <h1 class="ui header">!!!!!!!!!!!!!!!!!!!!!</h1>
    <form class="ui large form" method="post">
        <div class="ui stacked segment">
            {% csrf_token %}
            <div class="ui form">
                <div class="field">
                    <label>Grid size</label><br>
                    <input class="form-control" id="grid" type="text" name="grid"><br><br>
                    <input type="submit" value="Get solution" class="positive ui button" name="average_time">
                </div>
            </div>

            <br>
            <span class="ui big red text">{{ error }}</span>
            <span class="ui big green text">{{ answer }}</span>
        </div>
    </form>
    </div>

    <div class="ui fluid raised card" style="margin-top:30px">
        <div class="content">
            <!--<div class="header">-->
            <!--Worlds Capitals-->
            <!--</div>-->
            <div class="description">
                <div class="ui bulleted list">
                    <div class="item">The most busiest airport in each country</div>
                    <div class="item">Data from <a
                            href="https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_Europe"> Wikipedia</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <!-- Map with unique DOM id -->
            {{ my_map|safe }}
        </div>
        <div class="extra content">
            <small>
                ArcGIS</a> &copy; <a href="https://www.arcgis.com/home/group.html?id=702026e41f6641fb85da88efe79dc166"
                                     target="_blank">World_Topo_Map</a> </a>
            </small>
        </div>
        <div class="extra content">
            <p>
                This is a list of the 100 busiest airports in Europe, ranked by total passengers per year, including
                both terminal and transit passengers. Data is for 2019 and is sourced individually for each airport and
                from a variety of sources, normally the national aviation authority statistics, or those of the airport
                operator.
            <p>
                Source: Wikipedia
            </p>
        </div>
    </div>



{% endblock %}


